<html>
<head>
  <title>GIROPOPS STRIGUS GIRUS!</title>
<body>
    <h1>DESCOMPLICANDO O ANSIBLE!</h1>
    <h2>Meu nome e {{ ansible_facts.hostname }} e esse aqui e o meu IP: {{ ansible_facts.eth1.ipv4.address }}</h2>
</body>
</head>
</html>